<h1>Bienvenido</h1>
{% if user.is_authenticated %}
  <h2>Bienvenido, {{ user.username }}!</h2>
  <p>Está correctamente en línea.</p>
  <a href="{% url 'eventos:organizadores' %}">Ver Organizadores</a>

  <h3>Eventos:</h3>
  <ul>
    {% for evento in object_list %}
  <li>
    <strong>Nombre:</strong> {{ evento.nombre }}<br>
    <strong>Lugar:</strong> {{ evento.lugar }}<br>
    <strong>Fecha:</strong> {{ evento.fecha }}<br>
    <strong>Organizador:</strong> {{ evento.organizador.nombre }}<br>

    {% if evento.organizador == user %}
      <a href="{% url 'eventos:editar_evento' evento.id %}">Editar Evento</a>
    {% else %}
      <p>No tiene permiso para editar este evento.</p>
    {% endif %}
  </li>
{% empty %}
  <li>No hay eventos disponibles.</li>
{% endfor %}
  </ul>

  <p><a href="{% url 'eventos:crear_evento' %}">Crear Evento</a></p>
  <p><a href="{% url 'account_logout' %}">Cerrar sesión</a></p>

{% else %}
  <h2>Para crear o editar eventos, inicie sesión</h2>
  <a href="{% url 'eventos:organizadores' %}">Ver Organizadores</a>

  <h3>Eventos:</h3>
  <ul>
    {% for evento in object_list %}
      <li>
        <strong>Nombre:</strong> {{ evento.nombre }}<br>
        <strong>Lugar:</strong> {{ evento.lugar }}<br>
        <strong>Fecha:</strong> {{ evento.fecha }}<br>
        <strong>Organizador:</strong> {{ evento.organizador.nombre }}<br>
      </li>
    {% empty %}
      <li>No hay eventos disponibles.</li>
    {% endfor %}
  </ul>

  <p><a href="{% url 'eventos:crear_evento' %}">Crear Evento</a></p>
{% endif %}

<ul>
  {% if not user.is_authenticated %}
    <li><a href="{% url 'account_signup' %}">Registrarse</a></li>
    <li><a href="{% url 'account_login' %}">Ingresar</a></li>
  {% endif %}
  <li><a href="{% url 'account_reset_password' %}">Cambiar Contraseña</a></li>
</ul>
